.box{
    flex-direction: row;
    justify-content: space-between;
}
.box button{
    border-radius: 100%;
    padding: 2em;
}
.box #nincs{
    background-color: var(--piros);
}
.box #nincs:hover{
    background-color: var(--zold);
}

.box #van{ background-color: var(--zold); }
.box  #van:hover{ background-color: var(--piros); }