.box{
    flex-direction: row;
    justify-content: space-between;
}
.box button{
    border-radius: 100%;
    padding: 2em;
}
.box .nincs, .box .nincs:hover{ background-color: var(--piros); }

.box .van, .box .van:hover{ background-color: var(--zold); }