main{
    justify-content: center;
}
form p{
    place-self: center;
    display: flex;
    flex-direction: column;
}
form label{
    font-size: 14pt;
    align-self: flex-start;
}
form input{
    font-size: 12pt;
}

.aform{
    margin: 0.5em 0 1em 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.errorlist.nonfield{
    width: 200px;
    place-self: center;
    padding: 10px;
    background-color: #df5050;
    font-weight: 600;
    text-align: center;
}