*{
    margin: 0;
    padding: 0;

    --feher: #eee;
    --fekete: #222;
    --kek: #0E4958;
    --zold: #22b573;
    --piros: #b52222;

    font-family: 'Radio Canada', sans-serif;
}
html, body{ height: 100%; }
body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px 1fr 30px;

    background-color: var(--feher);
    color: var(--fekete);
}
body.lock-scroll{
    overflow: hidden;
}

header{
    grid-row: 1;
    grid-column: 1/4;

    background-color: var(--kek);
    color: var(--feher);

    display: grid;
    grid-template-columns: 50px 1fr 2fr 30px;

    align-items: center;
}
header .balh{
    grid-column: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
}
.balh .cim{
    font-size: 28pt;
}
.balh .felhasznalo{
    opacity: 80%;
}
header #desktop-nav{
    grid-column: 3;
    justify-self: right;
}
header #desktop-nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2em;
    text-align: right;
}
header #desktop-nav a:hover{
    opacity: 75%;
}

#mobile-nav{
    z-index:1;
    padding-top: 3em;
    
    grid-column: 1/4;
    grid-row: 2/4;
    display: none;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--fekete);
    color: var(--feher);
    font-size: 25pt;
}
#mobile-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
#mobile-nav .kijelentkezes{
    margin-top: 1em;
    opacity: 50%;
}
#mobile-nav.change{
    display: flex;
}
#hamburger-icon {
display: none;
grid-column: 3;
justify-self: right;
align-self: center;
cursor: pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 4px;
border-radius: 2em;
background-color: var(--feher);
margin: 6px 0;
transition: 0.4s;
}
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6spx, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

main{
    grid-row: 2;
    grid-column: 2;
    margin: 4em 0 8em 0;

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: left;
}
footer{
    grid-row: 3;
    grid-column: 1/4;

    background-color: var(--fekete);
    color: var(--feher);

    display: flex;
    justify-content: center;
    align-items: center;
}




.box{
    border-radius: 1em;
    padding: 2em;
    width: 80%;

    background-color: var(--kek);
    color: var(--feher);

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.box button{
    border: none;
    border-radius: 1.5em;
    padding: 1em;

    background-color: var(--fekete);
    color: var(--feher);
    
    font-weight: 600;
    font-size: 12pt;
    
    cursor: pointer;
    transition: 0.2s;
}
.box button:hover{
    background-color: var(--feher);
    color: var(--fekete);
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.wide{ width: 100%;}
.narrow{ width: fit-content;}
.min{width: min-content;}
.nogap{ gap: 0; }
.biggap{ gap: 2em; }
.column{ flex-direction: column;}
.row{
    flex-direction: row;
    flex-wrap: wrap;
}

.piros, .box .piros{ background-color: var(--piros);}
button .piros:hover{ background-color: var(--zold); }
.zold, .box .zold{ background-color: var(--zold); }
button .zold:hover{ background-color: var(--piros); }


h1, h2, h3, a, p, ul, li{
    background-color: transparent;
    color: inherit;
    text-align: center;
}
h1{
    font-size: 30pt;
    font-weight: 700;
}
h2{
    font-size: 20pt;
    font-weight: 600;
}
h3{
    font-size: 16pt;
    font-weight: 500;
}
h4{
    font-size: 14;
    font-weight: 500;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

hr{
    border-top: 1px solid var(--fekete);
    width: 100%;
    margin-top: 1em;
}

form textarea{
    width: 90%;
    height: 20em;
    padding: 0.1em 0.2em;
    outline: none;
    resize: none;
}