{% extends 'base.html' %}

{% load static %}
{% block statics%}
<link rel="stylesheet" href="{% static 'css/alkalom.css' %}">
{% endblock %}

{% block title %}<title>cim</title>{% endblock %}

{% block content %}

<div class="section column nogap">
    <h1>{{ azalkalom.foglalkozas.nev }}</h1>
    <h3>{{ azalkalom.datum }}</h3>
</div>

<div class="section column biggap">
    {% for diak in resztvevok %}
    <div class="box">
        <h3>{{ diak.nev }}</h3>
        {% if diak in hianyzok %}
        <button id="{{ azalkalom.pk }}-{{ diak.id }}-van" class="apig nincs"></button>
        {% else %}
        <button id="{{ azalkalom.pk }}-{{ diak.id }}-nincs" class="apig van"></button>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}