{% extends 'base.html' %}

{% block title %}<title>cim</title>{% endblock %}

{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div id="adszerkeszto" class="section column wide">
    <form action="" method="post" class="box">
        {% csrf_token %}
        <h2>Biztosan törli az összes adatát az adatbázisnak?</h2>
        <p>Ezzel a lépéssel minden Tanuló, Edző, Foglalkozás és Alkalom elvész.</p>
        <div class="section row wide">
            <button type="submit" name="mehet" class="piros">Igen törlök mindent</button>
            <button type="submit" name="megse">Mégse</button>
        </div>
    </form>
</div>
{% endblock %}