{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block statics %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% block title %}{% endblock %}
</head>
<body>
    <header>
        <div class="balh">
            <a href="{% url 'index' %}"><h1 class="cim">SZLGBPMT</h1></a>
            {% if request.user.is_authenticated %}
            <h4 class="felhasznalo">{{ request.user.last_name }} {{ request.user.first_name }}</h4>
            {% endif %}
        </div>
        <nav>
            <ul>
                {% if azalkalom %}
                <a href="/{{azalkalom.foglalkozas.url}}"><li>Alkalmak</li></a>
                {% endif %}                
                {% if staff %}
                <a href="{% url 'index' %}"><li>Foglalkozások</li></a>
                {% endif %}    
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"><li>Kijelentkezés</li></a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>ide jön majd valami</p>
    </footer>
</body>
</html>