{% extends 'base.html' %}

{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'css/foglalkozas.css' %}">
{% endblock %}

{% block title %}<title>{{alkalmak.first.foglalkozas.nev}} - SZLGTESI</title>{% endblock %}

{% block content %}

<h1>{{ alkalmak.first.foglalkozas.nev }}</h1>

{% if request.user.is_staff %}
<div class="section row wide">
    <div id="adszerkeszto" class="section column narrow">
        <form action="" method="post" class="box">
            {% csrf_token %}
            <h1>Adatbázis szerkesztés</h1>
            <textarea name="data" id="data" cols="30" rows="10"
            placeholder="ALKALOM:&#10;2030-01-01&#10;2030-01-07"></textarea>
            <div class="section row wide">
                <button type="submit" name="alkalom">Alkalmak hozzáadása</button>
                <button type="submit" name="atorles">Alkalmak törlése</button>
            </div>
        </form>
    </div>
    
    <div id="tanulok" class="box column narrow">
        <h1>Tanulók</h1>
        <div class="section column nogap">
            {% for tanulo in resztvevok %}
            <p>{{ tanulo.nev }} - {{ tanulo.osztaly }}</p>
            {% endfor %}
        </div>
    </div>
    <hr>
</div>

{% endif %}

<div class="section column biggap">
    
    {% if ma %}
    <div class="box zold">
        <h2>{{ ma.datum }}</h2>
        <a href="/{{ ma.foglalkozas.url }}/{{ ma.pk }}"><button>Résztvevők</button></a>
    </div>
    {% endif %}

    {% for alkalom in alkalmak %}
    <div class="box">
        <h2>{{ alkalom.datum }}</h2>
        <a href="/{{ alkalom.foglalkozas.url }}/{{ alkalom.pk }}"><button>Résztvevők</button></a>
    </div>
    {% endfor %}
</div>

{% endblock %}